<h3>All Phenotypes (<%= @phenotypes.length %>)</h3>
<table width="60%">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Delete?</th>
  </tr>
<% @phenotypes.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><img src="<%= url_for :controller => :files, :action => :get_phenotype_image, :id => p.encrypted_id %>"
      border="2"
      width="<%= p.display_width %>"
      height="<%= p.display_height %>" /></td>
    <td><%= link_to 'x', :action => :delete_phenotype, :id => p.encrypted_id %></td>
  </tr>
<% end %>
</table>